

.container{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid;
    border-radius: 5px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

#username,#password{
    width: 93%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 4px;
}

#submit{
    width: 100%;
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 4px;
}