
.container{
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid gray;
}

h1{
    text-align: center;
    margin-bottom: 20px;
}

#username,#password{
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

#submit-button{
    width: 100%;
    padding: 10px;
    background-color: rgb(21, 180, 21);
    color: white;
    border-radius: 6px;
}

#submit-button:hover{
    background-color: aquamarine;


}