/*h1に対して赤色をつける*/
h1{
    color: #2c2ce8;
    /*背景色をつける*/
    background-color: rgb(211, 94, 204);
    /*画面の中央に揃える*/
    text-align: center;
    /*フォントの指定*/
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-family:'Borel', cursive; 
    /*文字のサイズの指定*/
    font-size: 20px;
    /*横幅の設定*/
    width: 600px;
     /*高さの設定*/
     height: 100px;

     margin: 0 auto;

}

p{
    background-color: darkseagreen;
    text-align: center;
}

a{
    background-color: cornflowerblue;
    text-align: center;
}

#a{
    display: block;
}

div{
    text-align: center;
}