div{
    height: 200px;
    width: 200px;
    border: 1px solid black;
}

#a{
    background-image: url(mountains.jpg);
    /*元の画像の縦横比率は保持状態で要素に画像が収まるように調整*/
    background-size: contain;
    /*背景を繰り返さない*/
    background-repeat: no-repeat;
}

#b{
    background-image: url(mountains.jpg);
    /*元の画像の縦横比率は保持した状態で要素をちょうどよく覆うサイズに調整*/
    background-size: contain;
    background-size: cover;
}

#c{
    background-image: url(mountains.jpg);
    /*元の画像の縦横比率は保持した状態で要素をちょうどよく覆うサイズに調整*/
    background-size: contain;
    background-size: 100% 100%;
}