a{
    display: inline-block;
    background-color: rgb(0, 183, 255);
    color: white;
    /*borderを入れる*/
    border: 3px solid red;
    padding: 30px;
   /* margin: 100px;*/
}

p{
    /*ボーダーのスタイル*/
    border-style: dashed solid dotted double;
    /*ボーダーの太さ*/
    border-width: 3px;
    /*ボーダーの色*/
    border-color: blueviolet;
    /*ボーダーの角丸*/
    border-radius: 10px;
    padding: 100px 30px 10px 5px;
    background-color: bisque;
    margin: 50px 100px;
}

h1{
    border-bottom: 3px dashed yellowgreen;
    background-color: aquamarine;
    padding-top: 50px;
    margin-top: 50px;
}