header{
    background-color: bisque;
}

ul{
    display: flex;
    /*横幅をつける　要素同士離す*/
    gap: 0 10px;
    /*中央寄せ*/
    justify-content: center;
}
li{
    list-style: none;
}

div{
    width: 100px;
    height: 100px;
    background-color: darksalmon;
}
section{
    display: flex;
    /*横幅をつける　要素同士を離す*/
    gap: 0 20px;
    /*中央寄せ*/
    justify-content: center;
}